@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
}


/*navigation css styling begins */
nav {
    height: 73px;
    padding-top: 10px;
    color: white;
    background-color: #285185;
    padding-inline: 15px;
    position:relative;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    color: white;
}

#logo_img {
    width:100px;
}


#logo > a {
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

#nav_options {
    padding-left: 530px;
    display: inline-block;
    position: absolute;
    top: 20px
}

#nav_options > a:hover {
    font-weight: 600;
    text-shadow: 3px 4px 7px rgba(97, 146, 177, 0.8);
}

.active {
    font-weight: 600;
}


/*navigation css styling ends */


header {
    height: 375px;
    margin: 20px;
    
}





/*footer css styling begins */

footer {
    background-color: #285185;
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    gap: 20px;
    padding: 20px;
}


footer > div {
    padding-inline: 20x;
    padding-bottom: 10px;
    width: 80%;
}


#sub-foot1 {
    display: block;
    margin-inline: auto;
    text-align: center;
}

#sub-foot2 > h2 {
    text-align: center;
}

#sub-foot1 nav > a {
    display: block;
    padding-block: 5px ;
    text-align: justify;
    margin-left: 40px;
}

#sub-foot1 nav > a:hover {
    font-weight: 600;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8)
}

#foot_logo a img{
    width: 125px;
}

#logo_line {
    margin-top:15px;
    font-weight: 500;
}

.nav_bus_img {
    display: inline;
}

.bus_partner {
    margin-top: 15px;
    width: 120px;
}

#social_network_links {
    margin-top:20px;
}

#social_network_links a>img {
    width: 39px;
    margin-right: 20px;
}

#social_network_links a>img:hover {
    background-color: #e68300;
    border-radius: 100%;
}

#copyright {
    grid-column: span 3;
    text-align: center;
    margin-inline: auto;
    margin-block: 0;
    margin-top: 40px;
    font-weight: 200;
}

/*footer css styling ends */


/*media queries*/
@media only screen and (max-width: 768px) {

    h2 {
        font-size: 1.4em;
    }

    /*navbar starts */

    nav {
        display: block;
        height:auto;
        padding-inline: 0;
    }

    nav a {
        display: block;
        color: #285185;
        padding: 0;
        margin-block: 5px;
    }

    #logo > a {
        margin-left: 25px;
    }  

    #nav_options {
        padding-block: 15px;
        display: block;
        padding-left: 0;
        position: static;
        text-align: center;
        margin-inline: auto;
        background-color: white;
        border-bottom: 0.75px solid #285185;
    }
    /*navbar ends*/




    /*footers start*/

    footer {
        grid-template-columns: 1fr;
    }

    #sub-foot1 nav {
        margin: 0;
    }

    #sub-foot1 nav > a {
        text-align: center;
        color: white;
        margin-left: 0px;
    }

    .nav_bus_img {
        display: block;
    }
    
    

    #sub-foot1 {
        text-align: center;
    }

    #sub-foot1 h2 {
        margin-bottom: 0;
    }

    #sub-foot1 nav > a {
        padding-block: 2px ;
    }

    #sub-foot2 {
        text-align: center;
    }

    #sub-foot3 {
        text-align: center;
    }

    footer > div {
        width: 100%;
    }
    


    #copyright {
        grid-column: 1;
        font-size: 11px;
    }

    /*footer ends*/
}


