@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

h1 {
    font-size: 2.5em;
    margin: 0px;
    text-align: center;
    font-weight: 800;
    color: #3164a7;
    text-shadow: 0.7px 0.9px 2.5px rgba(81,67,21,0.8);
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
}


/*navigation css styling begins */
nav {
    height: 73px;
    padding-top: 10px;
    color: white;
    background-color: #285185;
    padding-inline: 15px;
    position: relative;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    color: white;
}

#logo {
    margin-left: 40px;
}

#logo_img {
    width: 62px;
}


#logo>a {
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

#nav_options {
    padding-left: 530px;
    display: inline-block;
    position: absolute;
    top: 20px
}

#nav_options>a:hover {
    font-weight: 600;
    text-shadow: 3px 4px 7px rgba(97, 146, 177, 0.8);
}

.active {
    font-weight: 600;
}


/*navigation css styling ends */

header {
    background-image: url("Imgs/Banner.jpg");
    background-size: cover;
    background-position: center;
    background-color: #285185;
    background-repeat: no;
    height: 500px;
    position: relative;
}



header h1 {
    position: absolute;
    font-size: 3em;
    margin: 0px;
    font-weight: 800;
    line-height: 140%;
    text-align: Right;
    right: 100px;
    top: 105px;
    color: #3164a7;
    text-shadow: 0.7px 0.9px 2.5px rgba(81,67,21,0.8);
}



header button {
    height: 40px;
    width: 150px;
    text-align: center;
    border-radius: 0px;
    color: white;
    background-color: #285185;
    border: 0;
    font-size: 1.2em;

    position: absolute;
    right: 100px;
    top: 330px;
    font-family: "Quicksand", sans-serif;

}

header button:hover {
    box-shadow: 1px 1px 10px rgb(133, 133, 133);
    cursor: pointer;
}

/* main starts */

/* section-1 start*/

#section1 {
    margin-inline: 20px;
    margin-block: 80px;
}

#section1 h2,
#section1 p {

    margin-inline: auto;
    width: 60%;
    text-align: center;
    line-height: 120%;

}


/* section-1 end*/

/* section-2 start*/

#section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:auto;
    background-color: #e1eeff;
    padding: 20px;
}

#section-2 h2,#section-2 a {
    flex-basis: 100%;
    text-align: center;
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 20px;
}


.card2 {
    width:240px;
    height:330px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.212);
    background: white;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
    margin-inline: 40px;
    margin-block: 40px;
}

.card2 img {
    width:240px;
    height:330px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.212);
    cursor:pointer;
    z-index: 10;
    transition: all .4s;
}

.card2:hover img {
    margin-top: -35px;
}

.card2:hover {
    width: 250px;
}

.card2::before {
    content: 'Click on See More to Buy!';
    position: absolute;
    bottom: 5px;
    color: #285185;
    font-weight: 700;
}

#section-2 a button {
    margin-top: 10px;
    margin-inline: auto;
    background-color: #e68300;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    width: 20%;
    padding-inline: 10px;
    border:0;
    font-family: "Quicksand", sans-serif;
    height: 35px;
}

#section-2 a button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;   
    cursor: pointer; 
}


/*section-2 ends*/

/* contact US start*/
.card2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px auto;
    max-width: 800px;
    display: flex; /* Use flexbox */
}

.form {
    max-width: 600px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #285185;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.form-card {
    width: calc(50% - 20px); 
}

.card {
    width: 300px;
    height: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: white;
    border-radius: 20px;
    margin-left: 200px;
    margin-bottom: 20px; 
}

.card-content {
    padding: 20px;
}

.card h2 {
    margin-bottom: 10px;
    color: #285185;
    font-size: 1.5em;
}

.form-card {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: white;
    border-radius: 20px;
    margin-right: 280px;
    margin-bottom: 20px;
}

.subtitle{
    text-align: center;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    font-weight: 500;

}
.card-content p {
    color: #666;
    font-size: 18px;
    margin: 0;
}

/* login form styling begins */

#login_form,
#register_form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #285185;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-family: "Quicksand", sans-serif;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* login form styling endss */

/* admin form styling starts */
.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.admin-card {
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

}

.admin-card .subtitle {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.admin-card .form {
    display: flex;
    flex-direction: column;
}

.admin-card .form .form-group {
    margin-bottom: 20px;
}

.admin-card .form .form-label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.admin-card .form .form-input {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-card .form .submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-card .form .submit-btn:hover {
    background-color: #0056b3;
}

/* admin form styling end*/


/*footer css styling begins */

footer {
    background-color: #285185;
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    gap: 20px;
    padding: 20px;
}


footer>div {
    padding-inline: 20x;
    padding-bottom: 10px;
    width: 80%;
}


#sub-foot1 {
    display: block;
    margin-inline: auto;
    text-align: center;
}

#sub-foot2>h2 {
    text-align: center;
}

#sub-foot1 nav>a {
    display: block;
    padding-block: 5px;
    text-align: justify;
    margin-left: 40px;
}

#sub-foot1 nav>a:hover {
    font-weight: 600;
    text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8)
}

#foot_logo a img {
    width: 125px;
}

#logo_line {
    margin-top: 15px;
    font-weight: 500;
}

.nav_bus_img {
    display: inline;
}

.bus_partner {
    margin-top: 15px;
    width: 120px;
}

#social_network_links {
    margin-top: 20px;
}

#social_network_links a>img {
    width: 39px;
    margin-right: 20px;
}

#social_network_links a>img:hover {
    background-color: #e68300;
    border-radius: 100%;
}

#copyright {
    grid-column: span 3;
    text-align: center;
    margin-inline: auto;
    margin-block: 0;
    margin-top: 40px;
    font-weight: 200;
}

/*footer css styling ends */


/*media queries*/
@media only screen and (max-width: 768px) {

    h2 {
        font-size: 1.4em;
    }

    /*navbar starts */

    nav {
        display: block;
        height: auto;
        padding-inline: 0;
    }

    nav a {
        display: block;
        color: #285185;
        padding: 0;
        margin-block: 5px;
    }

    #logo>a {
        margin-left: 25px;
    }

    #nav_options {
        padding-block: 15px;
        display: block;
        padding-left: 0;
        position: static;
        text-align: center;
        margin-inline: auto;
        background-color: white;
        border-bottom: 0.75px solid #285185;
    }

    /*navbar ends*/




    /*footers start*/

    footer {
        grid-template-columns: 1fr;
    }

    #sub-foot1 nav {
        margin: 0;
    }

    #sub-foot1 nav>a {
        text-align: center;
        color: white;
        margin-left: 0px;
    }

    .nav_bus_img {
        display: block;
    }



    #sub-foot1 {
        text-align: center;
    }

    #sub-foot1 h2 {
        margin-bottom: 0;
    }

    #sub-foot1 nav>a {
        padding-block: 2px;
    }

    #sub-foot2 {
        text-align: center;
    }

    #sub-foot3 {
        text-align: center;
    }

    footer>div {
        width: 100%;
    }



    #copyright {
        grid-column: 1;
        font-size: 11px;
    }

    /*footer ends*/
}

.error {
    color: red;
}
